$button-height: 34px;

*{
    list-style: none;
    text-decoration: none;
}

.container{
    width: 960px;

    .button-list{
        display: flex;
        justify-content: space-between;
    }
}




li{
    margin: 11px;// 暫時先不讓他靠邊
    width: 188px;

    // 紅白共同設定
    a{
        display: block;

        // 文字置中
        text-align: center;
        line-height: $button-height;

        box-sizing: border-box;

        //白底
        &:first-child{
            border: 1px #444 dotted;
            color: #000;
            background-color: #fff;
    
            height: $button-height;
        }
        //紅底
        &:last-child{    
            color: #fff;
            background-color: #f00;
    
            transition: all 1.6s 0s ease;
            overflow: hidden;
    
            // 一開始只有一條細線
            height: 1px;
    
            //和白塊的下邊框重疊
            margin-top: -1px;
    
            // 鎖定content box的位置，使其不動
            padding-top: 1px;
    
            div{
                margin-top: 1 - $button-height ;
            }
        }
    }

    //li摸到時 的紅底 
    &:hover a:last-child{
        // 長高
        height: $button-height;

        // 往上移動 一個白塊高
        margin-top: -$button-height;
        
        // 鎖定content box的位置，使其不動
        padding-top: $button-height;
    }
}




