<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" href="images/contractICO.ico" />
		<title>契約展區</title>

		<link
			href="https://meyerweb.com/eric/tools/css/reset/reset.css"
			rel="stylesheet"
		/>

		<!-- @latest/dist -->
		<!-- Bootstrap and BootstrapVue CSS -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.css"
		/>

		<!-- Fonts -->
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@100;200;300;400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- Icon Fonts -->

		<!-- Custom CSS -->
		<link rel="stylesheet" href="index.css" />

		<!-----------JS -------------------------------->
	</head>

	<body>
		<div id="app">
			<!-- <b-button
				size="sm"
				variant="secondary"
				class="my-1"
				href="https://www.notion.so/8-b608e880cc0649e791b6c6480b8ea485?pvs=4"
				target="_blank"
				>回說明頁</b-button
			> -->
			<!-- <b-pagination 
				v-model="currentPage" 
				:total-rows="totalRows" 
				:per-page="perPage" 
				size="sm"
				class="my-0">
			</b-pagination> -->
			<!-- align="fill"  -->
			<h2 class="table-summary my-2 text-center">
				總發出利息： <b-badge>{{totalDistributedInterest}}</b-badge>
			</h2>
			<b-table
				head-variant="dark"
				table-variant="primary"
				bordered
				striped
				hover
				responsive
				small

				:items="items"
				:fields="fields"
				:sort-by.sync="sortBy"
				:sort-desc.sync="sortDesc"
				:per-page="perPage"
				:current-page="currentPage"
			>
				<template #cell(Photos)="row">
					<b-form-checkbox
						v-model="row.detailsShowing"
						@change="row.toggleDetails"
						switch
					>
					</b-form-checkbox>
				</template>

				<template #row-details="row">
					<b-card>
						<a
							v-for="(x,i) in row.item.Photos"
							class="pic mx-1"
							target="_blank"
							:href="photoImgPath(x)"
						>
							<img :src="photoImgPath(x)" />
						</a>
					</b-card>
				</template>
			</b-table>
	</div>

		<!--  Vue 、 BootstrapVue -->
		<script src="https://unpkg.com/vue@2.7.16/dist/vue.min.js"></script>
		<script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
    <!-- <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.js"></script> -->

		<!-- Custom JS -->
		<script src="contractDataList.js"></script>
		<script src="index.js"></script>
	</body>
</html>
